{% extends 'base.html' %}


{% block content %}
    <form action="" method="post">
        <label>ваше фио</label><br>
        <label>
        <input type="text" name="message">
        </lable><br>
    <label>какой тренинг понравился вам больше всего?</label><br>
    <select>
        <option>Мастер-класс по профориентации</option>
        <option>Эмоциональный интеллект</option>
        <option>Мотивация и предназначение</option>
        <option>Написание резюме</option>
        <option>Cоздание делового имиджа</option>
        <option>Теория прохождение интервью</option>
        <option>Практикум по прохождение интервью с представителями HR компаний СБВИ</option>
        <option>Деловой Этикет</option>
        <option>Ментальный Карты и инфодизайн</option>
        <option>Деловое письмо</option>
        <option>Тайм-менеджмент</option>
        <option>Навыки самопрезентации</option>
        <option>Управление стрессом</option>
        <option>Юридические аспекты трудоустройства людей с инвалидностью</option>
        <option>Инструменты недизайнера для создания презентаций</option>
        <option>Основы Excel</option>
    </select><br>
    <label>какой тренинг, по вашему мнению, был самым полездным для вас?</label><br>
    <select>
        <option>Мастер-класс по профориентации</option>
        <option>Эмоциональный интеллект</option>
        <option>Мотивация и предназначение</option>
        <option>Написание резюме</option>
        <option>Cоздание делового имиджа</option>
        <option>Теория прохождение интервью</option>
        <option>Практикум по прохождение интервью с представителями HR компаний СБВИ</option>
        <option>Деловой Этикет</option>
        <option>Ментальный Карты и инфодизайн</option>
        <option>Деловое письмо</option>
        <option>Тайм-менеджмент</option>
        <option>Навыки самопрезентации</option>
        <option>Управление стрессом</option>
        <option>Юридические аспекты трудоустройства людей с инвалидностью</option>
        <option>Инструменты недизайнера для создания презентаций</option>
        <option>Основы Excel</option>
    </select><br>
    <label>что было вашей главной целью на конкурсе?</label><br>
    <label><input type="radio" name="four">образование</label><br>
    <label><input type="radio" name="four">опыт публичных выступлений</label><br>
    <label><input type="radio" name="four">знакомство с новыми людьми и компаниями</label><br>
    <input type="submit" name="fife"><br>
    <input type="reset" name="six"><br>
    </form>
    <p>{{ message }}</p>
{% endblock %}